DB_HOST=enlace de tu BD
DB_PORT=puerto de tu BD
DB_USERNAME=nombre de usuario para accesar la BD
DB_PASSWORD=clave del usuario para accesar la BD
DB_DATABASE=base de datos a usar
DB_SSL=uso de protocolo SSL (ture/false)